$white: #ffffff;
$black: #000000;

$dark-800:#2b2a29;

$gray-100: #f5f5f5;
$gray-150: #d7d7d7;
$gray-600: #696d70;

$blue-400: #1e86db;

$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

$roboto: "Roboto";
$oswald: "Oswald"