.logos {
    background-color: $gray-100;
    @include adaptiv-value("padding-top", 100, 60, 0);

    &__wrapper {
        position: relative;
    }

    &__items {
        @include mq('phone-2') {
            margin-bottom: 15px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 10px;
        background-color: $white;
    }

    &__img {
        height: 65px;
        object-fit: contain;
    }

    .swiper-logos {
        width: 100%;
        overflow: hidden;
    }

    .swiper-button-disabled {
        @include swiper-button-disabled;
    }

    &__button {
        @include button-swiper;
    }
}