.services {
    @include adaptiv-value("padding-top", 100, 60, 0);
    background-color: $gray-100;

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(388px, 1fr));
        gap: 20px;

        @include mq('tablet-2') {
            grid-template-columns: repeat(auto-fit, minmax(354px, 1fr));
        }

        @include mq('tablet') {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
    }
}