<section class="modal">
    <div class="modal__content">
        <h2 class="modal__title">
            заказать обратный звонок
        </h2>
        <button class="modal__close" type="button">
            <span class="sr-only">
                Закрыть окно
            </span>
        </button>
        <form class="form" action="#">
            <div class="form__item">
                <label class="sr-only" for="form__call-name">
                    Введите ваше имя
                </label>
                <input class="form__field" type="text" placeholder="Ваше имя" name="name" id="form__call-name" required>
            </div>
            <div class="form__item">
                <label class="sr-only" for="form__call-tel">
                    Введите ваш номер телефона
                </label>
                <input class="form__field" type="tel" placeholder="Ваш номер телефона" name="name" id="form__call-tel" required>
            </div>
            <p class="form__text">
                Пожалуйста, оставьте свой номер телефона и мы вам перезвоним
            </p>
            <button class="form__button modal__button button" type="submit">
                Заказать звонок
            </button>
        </form>
    </div>
</section>