<article class="service-card" itemscope itemtype="http://schema.org/Product">
    <a class="service-card__link" href="#" itemprop="url">
        <img class="service-card__img" src="img/services/@img.png" alt="@title" width="358" height="315" loading="lazy" itemprop="image">
    </a>
    <div class="service-card__info">
        <h3 class="service-card__title subtitle" itemprop="name">
            @title
        </h3>
        <a class="service-card__more" href="#" itemprop="url">
            Подробнее
        </a>
    </div>
    <div itemprop="offers" itemscope itemtype="http://schema.org/AggregateOffer">
        <meta itemprop="priceCurrency" content="RUB">
        <meta itemprop="lowPrice" content="600">
        <link itemprop="availability" href="http://schema.org/InStock">
    </div>
</article>