.breadcrums {
    padding: 40px 0 25px;

    &--gray {
        background-color: $gray-100;
    }

    &__items {
        display: flex;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 5px;

            .breadcrums__link {
                position: relative;
                display: inline-block;
                padding-right: 21px;
                color: $blue-400;
                @include link;
                padding-top: 0;

                &::after {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: 20px;
                    height: 20px;
                    transform: translateY(-50%);
                    content: "";
                    @include background;
                    filter: invert(41%) sepia(86%) saturate(747%) hue-rotate(173deg) brightness(92%) contrast(94%);
                    background-image: url('../img/icons/arrow-right.svg');
                }
            }
        }
    }

    &__link {
        color: $gray-600;
        font-weight: $fw-500;
    }
}