.footer {
    color: $white;
    background-color: $dark-800;
    @include adaptiv-value("padding-top", 80, 50, 0);
    @include adaptiv-value("padding-bottom", 80, 50, 0);

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        @include mq('tablet-2') {
            align-items: flex-start;
        }
    }

    &__left,
    &__right {
        width: 37%;

        @include mq('tablet-2') {
            width: 49%;
        }

        @include mq('tablet') {
            width: 63%;
        }

        @include mq('phone-2') {
            width: 100%;
        }
    }

    &__left {
        @include mq('tablet-2') {
            margin-bottom: 20px;
        }
    }

    &__left,
    &__button {
        margin-right: 10px;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__link {
        font-weight: $fw-500;
        @include link;

        &::before {
            background-color: $white;
        }

        &--confi {
            display: block;
            margin-bottom: 10px;
            font-weight: $fw-400;
        }
    }

    &__button {
        transition: box-shadow 0.3s, opacity 0.3s, color 0.3s;
        @include mq('tablet-2') {
            order: 1;
        }

        @include mq('tablet') {
            order: 0;
        }

        @include mq('phone-2') {
            width: 100%;
            margin-bottom: 20px;
        }

        &:focus,
        &:hover {
            color: $blue-400;
        }

        &:focus {
            box-shadow: inset 12em 0 $white, 0 0 0 2px $blue-400;
        }

        &:hover {
            box-shadow: inset 12em 0 $white;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;

        @include mq('tablet') {
            align-items: flex-start;
            text-align: left;
        }
    }
}