.questions {
    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 20px;
    }

    &__item {
        width: 100%;
        overflow: hidden;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}