.reviews {
    &__list {

        @include mq('phone-2') {
            margin-bottom: 15px;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        width: 100%;
        padding: 20px;
        background-color: $gray-100;
    }

    &__wrapper {
        position: relative;
    }

    .swiper-slide {
        height: unset;
    }

    .swiper-button-disabled {
        @include swiper-button-disabled;
    }

    &__button {
        @include button-swiper;
    }
}

.reviews-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__rating,
    &__title,
    &__link {
        margin-bottom: 15px;
    }

    &__rating {
        display: flex;
    }

    &__star {
        @include background;
        display: inline-block;
        width: 24px;
        height: 24px;

        &:not(:last-child) {
            margin-right: 5px;
        }
    }

    &__text {
        margin-bottom: 10px;

        p {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }

    &__link {
        display: inline-block;
        color: $blue-400;
        @include link;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        margin-top: auto;
    }

    &__content {
        margin-bottom: auto;
    }

    &__name {
        margin-right: 10px;
    }

    &__date {
        color: $gray-600;
    }
}