<header class="@class">
    <nav class="header__navigation">
        <div class="container">
            <div class="header__wrapper">
                <a class="header__logo logo" href="#">
                    <img class="logo__img" src="img/logo.png" alt="Логотип" width="184" height="88">
                </a>
                <button class="header__catalog button" type="button">
                    <span class="header__line"></span>
                    Каталог
                </button>
                <button class="header__mobile header__mobile--search" type="button">
                    <span class="sr-only">
                        Открыть поиск
                    </span>
                </button>
                <form class="header__form search-form" action="#">
                    <div class="search-form__item">
                        <label class="sr-only" for="search">
                            Поиск по товарам
                        </label>
                        <input class="search-form__field form__field" type="search" name="search" id="search" placeholder="Поиск по товарам" required>
                    </div>
                    <button class="search-form__button button" type="submit">
                        <span class="sr-only">
                            Найти
                        </span>
                    </button>
                </form>

                <button class="header__mobile header__mobile--call" type="button">
                    <span class="sr-only">
                        Связаться с нами
                    </span>
                </button>
                <div class="header__call">
                    <a class="header__phone" href="tel:+7(383)3054070">
                        +7 383 305 40 70
                    </a>
                    <button class="header__button" type="button">
                        Обратный звонок
                    </button>
                </div>
            </div>
        </div>

        <div class="menu">
            <div class="container">
                <ul class="menu__wrapper">
                    <li class="menu__list">
                        <span class="menu__title">
                            Холодильники
                        </span>
                        <ul class="menu__items">
                            <li class="menu__item">
                                <a class="menu__link" href="#">
                                    Аккумуляторы
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="#">
                                    Выключатели
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="#">
                                    Заглушки
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="#">
                                    Испарители
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="#">
                                    Двигатели воздушной заслонки
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu__list">
                        <span class="menu__title">
                            Стиральные машины
                        </span>
                        <ul class="menu__items">
                            <li class="menu__item">
                                <a class="menu__link" href="#">
                                    Аккумуляторы
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="#">
                                    Выключатели
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="#">
                                    Заглушки
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="#">
                                    Испарители
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="#">
                                    Двигатели воздушной заслонки
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu__list">
                        <span class="menu__title">
                            Морозильные камеры
                        </span>
                        <ul class="menu__items">
                            <li class="menu__item">
                                <a class="menu__link" href="#">
                                    Аккумуляторы
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="#">
                                    Выключатели
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="#">
                                    Заглушки
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="#">
                                    Испарители
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="#">
                                    Двигатели воздушной заслонки
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu__list">
                        <span class="menu__title">
                            Мультиварки
                        </span>
                        <ul class="menu__items">
                            <li class="menu__item">
                                <a class="menu__link" href="#">
                                    Аккумуляторы
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="#">
                                    Выключатели
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="#">
                                    Заглушки
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="#">
                                    Испарители
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="#">
                                    Двигатели воздушной заслонки
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu__list">
                        <span class="menu__title">
                            Посудомоечные машины
                        </span>
                        <ul class="menu__items">
                            <li class="menu__item">
                                <a class="menu__link" href="#">
                                    Аккумуляторы
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="#">
                                    Выключатели
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="#">
                                    Заглушки
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="#">
                                    Испарители
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="#">
                                    Двигатели воздушной заслонки
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu__list">
                        <span class="menu__title">
                            микроволновые (СВЧ) печи
                        </span>
                        <ul class="menu__items">
                            <li class="menu__item">
                                <a class="menu__link" href="#">
                                    Аккумуляторы
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="#">
                                    Выключатели
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="#">
                                    Заглушки
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="#">
                                    Испарители
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="#">
                                    Двигатели воздушной заслонки
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>