<article class="product-card">
    <div class="product-card__top">
        <a class="product-card__image" href="#">
            <img class="product-card__img" src="img/products/@img.png" alt="@alt" loading="lazy" width="256" height="200">
        </a>
        <h3 class="product-card__title">
            <a class="product-card__link" href="#">
                @title
            </a>
        </h3>
        <div class="product-card__info">
            <span class="product-card__price subtitle">
                @price ₽
            </span>
            @if(context.rating === "5") {
                <div class="product-card__rating rating" aria-label="Рейтинг 5 из 5">
                    <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                    <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                    <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                    <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                    <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                </div>
            }

            @if(context.rating === "4") {
                <div class="product-card__rating rating" aria-label="Рейтинг 4 из 5">
                    <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                    <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                    <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                    <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                </div>
            }

            @if(context.rating === "3") {
            <div class="product-card__rating rating" aria-label="Рейтинг 3 из 5">
                <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
            </div>
            }

            @if(context.rating === "2") {
            <div class="product-card__rating rating" aria-label="Рейтинг 2 из 5">
                <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
            </div>
            }

            @if(context.rating === "1") {
            <div class="product-card__rating rating" aria-label="Рейтинг 1 из 5">
                <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
            </div>
            }
        </div>
    </div>
    <button class="product-card__btn button button--border btn-modal" type="button">
        Заказать
    </button>
</article>