<section class="questions section">
    <div class="container">
        <h2 class="title">
            <span class="title__accent">
                Частые
            </span>
            вопросы
        </h2>

        <ul class="questions__content">
            <li class="questions__list">
                <ul class="questions__items">
                    <li class="questions__item questions__item--active">
                        <div class="questions__top">
                            <h3 class="questions__title subtitle">
                                Сколько стоит диагностика?
                            </h3>
                            <button class="questions__button button-hide" type="button">
                                <span class="sr-only">
                                    Посмотреть ответ
                                </span>
                            </button>
                        </div>
                        <div class="questions__text">
                            <p>
                                Мы работаем со стиральными машинами, холодильниками, морозильными камерами, микроволновыми печами, мультиварками и посудоомоечными мамшинами
                            </p>
                        </div>
                    </li>

                    <li class="questions__item">
                        <div class="questions__top">
                            <h3 class="questions__title subtitle">
                                Сколько стоит диагностика?
                            </h3>
                            <button class="questions__button button-hide" type="button">
                                <span class="sr-only">
                                    Посмотреть ответ
                                </span>
                            </button>
                        </div>
                        <div class="questions__text">
                            <p>
                                Мы работаем со стиральными машинами, холодильниками, морозильными камерами, микроволновыми печами, мультиварками и посудоомоечными мамшинами
                            </p>
                        </div>
                    </li>

                    <li class="questions__item">
                        <div class="questions__top">
                            <h3 class="questions__title subtitle">
                                Сколько стоит диагностика?
                            </h3>
                            <button class="questions__button button-hide" type="button">
                                <span class="sr-only">
                                    Посмотреть ответ
                                </span>
                            </button>
                        </div>
                        <div class="questions__text">
                            <p>
                                Мы работаем со стиральными машинами, холодильниками, морозильными камерами, микроволновыми печами, мультиварками и посудоомоечными мамшинами
                            </p>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="questions__list">
                <ul class="questions__items">
                    <li class="questions__item">
                        <div class="questions__top">
                            <h3 class="questions__title subtitle">
                                Сколько стоит диагностика?
                            </h3>
                            <button class="questions__button button-hide" type="button">
                                <span class="sr-only">
                                    Посмотреть ответ
                                </span>
                            </button>
                        </div>
                        <div class="questions__text">
                            <p>
                                Мы работаем со стиральными машинами, холодильниками, морозильными камерами, микроволновыми печами, мультиварками и посудоомоечными мамшинами
                            </p>
                        </div>
                    </li>

                    <li class="questions__item">
                        <div class="questions__top">
                            <h3 class="questions__title subtitle">
                                Сколько стоит диагностика?
                            </h3>
                            <button class="questions__button button-hide" type="button">
                                <span class="sr-only">
                                    Посмотреть ответ
                                </span>
                            </button>
                        </div>
                        <div class="questions__text">
                            <p>
                                Мы работаем со стиральными машинами, холодильниками, морозильными камерами, микроволновыми печами, мультиварками и посудоомоечными мамшинами
                            </p>
                        </div>
                    </li>

                    <li class="questions__item">
                        <div class="questions__top">
                            <h3 class="questions__title subtitle">
                                Сколько стоит диагностика?
                            </h3>
                            <button class="questions__button button-hide" type="button">
                                <span class="sr-only">
                                    Посмотреть ответ
                                </span>
                            </button>
                        </div>
                        <div class="questions__text">
                            <p>
                                Мы работаем со стиральными машинами, холодильниками, морозильными камерами, микроволновыми печами, мультиварками и посудоомоечными мамшинами
                            </p>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>