<section class="reviews section">
    <div class="container">
        <h2 class="title">
            <span class="title__accent">
                Новые
            </span>
            Отзывы
        </h2>

        <div class="reviews__wrapper">
            <div class="swiper-reviews swiper">
                <ul class="reviews__list swiper-wrapper">
                    <li class="reviews__item swiper-slide">
                        <article class="reviews-card">
                            <div class="reviews-card__content" >
                                <div class="rating reviews-card__rating" aria-label="Рейтинг 5 из 5">
                                    <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                                    <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                                    <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                                    <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                                    <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                                </div>
                                <h3 class="reviews-card__title subtitle">
                                    Качественно стирает
                                </h3>
                                <div class="reviews-card__text">
                                    <p>
                                        Тихо работает. Качественно стирает. Много режимов в том числе есть которого нет отдельно в LG: Слив. Инверторный двигатель.
                                    </p>
                                    <p>
                                        Недостатком является только политика, которая привела к курсу доллара такому Недостатком является только…
                                    </p>
                                </div>
                                <a class="reviews-card__link" href="#">
                                    Читать дальше
                                </a>
                            </div>
                            <div class="reviews-card__bottom">
                                <span class="review-card__name">
                                    Николай
                                </span>
                                <time class="review-card__date" datetime="2022-05-23">
                                    27.05.2020
                                </time>
                            </div>
                        </article>
                    </li>

                    <li class="reviews__item swiper-slide">
                        <article class="reviews-card">
                            <div class="reviews-card__content">
                                <div class="rating reviews-card__rating" aria-label="Рейтинг 4 из 5">
                                    <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                                    <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                                    <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                                    <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                                </div>
                                <h3 class="reviews-card__title subtitle">
                                    Качественно стирает
                                </h3>
                                <div class="reviews-card__text">
                                    <p>
                                        Тихо работает. Качественно стирает. Много режимов в том числе есть которого нет отдельно в LG: Слив. Инверторный двигатель.
                                    </p>
                                </div>
                            </div>
                            <div class="reviews-card__bottom">
                                <span class="review-card__name">
                                    Николай
                                </span>
                                <time class="review-card__date" datetime="2022-05-27">
                                    27.05.2020
                                </time>
                            </div>
                        </article>
                    </li>

                    <li class="reviews__item swiper-slide">
                        <article class="reviews-card">
                            <div class="reviews-card__content">
                                <div class="rating reviews-card__rating" aria-label="Рейтинг 4 из 5">
                                    <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                                    <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                                    <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                                    <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                                </div>
                                <h3 class="reviews-card__title subtitle">
                                    Качественно стирает
                                </h3>
                                <div class="reviews-card__text">
                                    <p>
                                        Тихо работает. Качественно стирает. Много режимов в том числе есть которого нет отдельно в LG: Слив. Инверторный двигатель.
                                    </p>

                                </div>
                            </div>
                            <div class="reviews-card__bottom">
                                <span class="review-card__name">
                                    Николай
                                </span>
                                <time class="review-card__date" datetime="2022-05-23">
                                    27.05.2020
                                </time>
                            </div>
                        </article>
                    </li>

                    <li class="reviews__item swiper-slide">
                        <article class="reviews-card">
                            <div class="reviews-card__content">
                                <div class="rating reviews-card__rating" aria-label="Рейтинг 4 из 5">
                                    <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                                    <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                                    <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                                    <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                                </div>
                                <h3 class="reviews-card__title subtitle">
                                    Качественно стирает
                                </h3>
                                <div class="reviews-card__text">
                                    <p>
                                        Тихо работает. Качественно стирает. Много режимов в том числе есть которого нет отдельно в LG: Слив. Инверторный двигатель.
                                    </p>

                                </div>
                            </div>
                            <div class="reviews-card__bottom">
                                <span class="review-card__name">
                                    Николай
                                </span>
                                <time class="review-card__date" datetime="2022-05-23">
                                    27.05.2020
                                </time>
                            </div>
                        </article>
                    </li>

                    <li class="reviews__item swiper-slide">
                        <article class="reviews-card">
                            <div class="reviews-card__content">
                                <div class="rating reviews-card__rating" aria-label="Рейтинг 4 из 5">
                                    <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                                    <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                                    <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                                    <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                                </div>
                                <h3 class="reviews-card__title subtitle">
                                    Качественно стирает
                                </h3>
                                <div class="reviews-card__text">
                                    <p>
                                        Тихо работает. Качественно стирает. Много режимов в том числе есть которого нет отдельно в LG: Слив. Инверторный двигатель.
                                    </p>

                                </div>
                            </div>
                            <div class="reviews-card__bottom">
                                <span class="review-card__name">
                                    Николай
                                </span>
                                <time class="review-card__date" datetime="2022-05-23">
                                    27.05.2020
                                </time>
                            </div>
                        </article>
                    </li>

                    <li class="reviews__item swiper-slide">
                        <article class="reviews-card">
                            <div class="reviews-card__content">
                                <div class="rating reviews-card__rating" aria-label="Рейтинг 4 из 5">
                                    <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                                    <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                                    <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                                    <span class="rating__star" style="background-image: url('img/icons/star.svg')"></span>
                                </div>
                                <h3 class="reviews-card__title subtitle">
                                    Качественно стирает
                                </h3>
                                <div class="reviews-card__text">
                                    <p>
                                        Тихо работает. Качественно стирает. Много режимов в том числе есть которого нет отдельно в LG: Слив. Инверторный двигатель.
                                    </p>

                                </div>
                            </div>
                            <div class="reviews-card__bottom">
                                <span class="review-card__name">
                                    Николай
                                </span>
                                <time class="review-card__date" datetime="2022-05-23">
                                    27.05.2020
                                </time>
                            </div>
                        </article>
                    </li>
                </ul>

                <div class="reviews__pagination swiper-pagination"></div>
                <button class="reviews__button reviews__button--prev swiper-button-next" type="button">
                </button>
                <button class="reviews__button reviews__button--next swiper-button-prev" type="button">
                </button>
            </div>
        </div>
    </div>
</section>