.products {

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__sort {
        display: flex;
        align-items: center;
    }

    &__label {
        margin-right: 4px;
    }

    .choices {
        padding-top: 4px;
        &__inner {
            min-height: auto;
            padding: 0 31px 0 0;
            color: $blue-400;
            font-size: 16px;
            font-family: $roboto;
            line-height: 1.3;
            background-color: transparent;
            border: 0;
            border-radius: 0;
        }

        &__list {
            padding: 0;
        }
    }

    .choices__list--dropdown .choices__item--selectable.is-highlighted::after {
        display: none;
    }

    .choices__list .choices__item {
        font-size: 16px;
        line-height: 1.3;
    }

    .choices__list--dropdown,
    .choices__list[aria-expanded] {
        margin-top: 0;
        border: none;
        width: 260px;
    }

    .choices[data-type*=select-one] {
        .choices__inner {
            padding-bottom: 0;
        }

        &::after {
            top: 45%;
            right: 0;
            width: 26px;
            height: 26px;
            margin-top: 0;
            background-image: url('../img/icons/arrow-up.svg');
            border: none;
            transform: translateY(-50%) rotate(180deg);
            transition: transform 0.3s;
            filter: invert(46%) sepia(24%) saturate(6633%) hue-rotate(187deg) brightness(93%) contrast(84%);
            @include background;

        }
    }

    .is-open.choices[data-type*=select-one]::after {
        transform: translateY(-50%) rotate(0);
    }

    .choices__list--dropdown .choices__item--selectable,
    .choices__list[aria-expanded] .choices__item--selectable {
        padding-right: 10px;
    }


    &__button {
        position: relative;
        display: none;
        width: 40px;
        height: 40px;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('../img/icons/filters.svg');
            content: "";
            @include background;
        }


        @include mq('tablet-2') {
            display: block;
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
        gap: 20px;
        margin-bottom: 20px;

        @include mq('phone-2') {
            grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
    }
}